* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  background-image: url("../images/pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 94%);
  background-size: 100%;
  background-repeat: no-repeat;
}

.main_card{
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  width: 450px;
  display: grid;
  place-items: center;
}

.main_card_image{
  border-radius: 15px 15px 0 0;
  width: 450px;
}

.main_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

h1{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 24px;
    padding-top: 50px;
    text-align: center;
}

p{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  padding: 24px 0;
  text-align: center;
}

.texts{
  width: 85%;
}

.plans{
  background-color: hsl(225, 100%, 96%);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  padding: 0 16px;
  border-radius: 10px;
  width: 100%;
}

.plans_icon_01{
  width: 48px;
  height: 48px;
}

.plans p{
  padding: 24px 6px;
  flex-grow: 1;
}

.plans p strong{
  display: block;
  font-weight: 900;
  text-align: left;
}

.plans p small{
  display: block;
  font-weight: 400;
  text-align: left;
}

.plans a{
  text-align: right;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: hsl(245, 75%, 52%);
}

.plans a:hover{
  color: black;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0;
  width: 100%;
  margin-bottom: 15px;
}

.btn_proceed{
  border-radius: 10px;
  border: 0;
  box-shadow: 0 20px 15px hsl(223, 47%, 85%);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: hsl(225, 100%, 98%);
  background: hsl(245, 75%, 52%);
  padding: 1rem;
  margin-top: 10px;
}

.btn_cancel{
  border-radius: 10px;
  border: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: transparent;
  padding: 15px 20px 15px 20px;
  margin-top: 10px;
}

.btn_proceed:hover {
  background: hsl(245deg 83% 68%);
  cursor: pointer;
}

.btn_cancel:hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}
